<div class="container-fluid bg-light p-5 home_container">
  <h1 class="display-4">Alpha - Blog</h1>
  <p class="lead">Wellcome to Alpha-blog!</p>
  <hr class="my-5">
  <p>Always wanted to be a writer? So this is a great time to fulfill your dream!</p>
  <a type="button" class="btn btn-outline-success">Sign up</a>
  <a type="button" class="btn btn-outline-success">Sign in</a>
</div>
<div id="content"> </div>
