<h1 class="text-center mt-4">Create a new category</h1>
<%= render 'form' %>
<p class="text-center"> <%= link_to '[ Return to categories listing ]', categories_path, class: "text-success link-cust"%> </p>
