<footer class="footer bg-dark w-100 py-2 bottom-0 start-50 translate-middle-x text-center fixed-bottom" >
  <div class="container">
    <span class="text-light">2022 created by Dmitriy N &copy;</span>
  </div>
</footer>
